.heading {
  background-color: #ff9999;
  padding: 8px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.flex-container{
  display: flex;
  margin: 16px;
}
.left{
  width: 76%;
}
.right{
  width: 24%;
}


