.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px ;
    display: flex;
    justify-content: space-between;
}
.svg{
    background-color: #ff7f7f;
    height: 35px;
    text-align: left;
    animation: rotate 8s linear infinite;
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }